name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io \
            -u ${{ github.repository_owner }} \
            --password-stdin

      - name: Build and push Docker image
        run: |
          docker build . \
            --file Dockerfile \
            --tag ghcr.io/${{ github.repository_owner }}/happy-server:latest

          docker push ghcr.io/${{ github.repository_owner }}/happy-server:latest
